<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Parking Detection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>

<body>
  <header class="container center-align">
    <h1>Parking Detection</h1>
  </header>

  <section class="container center-align">
    <div class="row">
      <div class="card col s6 red">
        <h3 class="subheader">Train Images</h3>
        <ul class="collection">
          <li class="collection-item">
            <div class="valign-wrapper">
              <i class="material-icons left circle white-text">folder</i>
              <div class="title">
                Image 1
              </div>
              <i class="material-icons ml-auto">info</i>
            </div>
          </li>
          <li class="collection-item">
            <div class="valign-wrapper">
              <i class="material-icons left circle white-text">folder</i>
              <div class="title">
                Image 2
              </div>
              <i class="material-icons ml-auto">info</i>
            </div>
          </li>
          <li class="collection-item">
            <div class="valign-wrapper">
              <i class="material-icons left circle white-text">folder</i>
              <div class="title">
                Image 3
              </div>
              <i class="material-icons ml-auto">info</i>
            </div>
          </li>
        </ul>
      </div>
      <div class="card col s6 blue">
        <h3 class="subheader">Test Images</h3>
        <ul class="collection">
          <li class="collection-item">
            <div class="valign-wrapper">
              <i class="material-icons left circle white-text">folder</i>
              <div class="title">
                Image 1
              </div>
              <i class="material-icons ml-auto">info</i>
            </div>
          </li>
          <li class="collection-item">
            <div class="valign-wrapper">
              <i class="material-icons left circle white-text">folder</i>
              <div class="title">
                Image 2
              </div>
              <i class="material-icons ml-auto">info</i>
            </div>
          </li>
          <li class="collection-item">
            <div class="valign-wrapper">
              <i class="material-icons left circle white-text">folder</i>
              <div class="title">
                Image 3
              </div>
              <i class="material-icons ml-auto">info</i>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h3 class="subheader">Upload Images</h3>
        <form class="form" action="/" method="POST" enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" name="file" />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          
          <input class="btn" type="submit" />
        </form>
      </div>
    </div>
  </section>

    <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

    <!-- Modal Structure -->
  <article>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Detection Complete!</h4>
        <img class="materialboxed" src="data:image/jpg;base64,{{ detection_img }}">
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
  </article>

  <footer>
    <div class="container center-align">
      <div class="card">Footer</div>
    </div>
  </footer>
</body>
<!-- <script src="main.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
    var img = '{{ detection_img }}';
    console.log('Image from flask:');
    console.log(img);
    var instance = M.Modal.getInstance(document.getElementById('modal1'));
    if(img && img.length != 0) {
      instance.open();
    } else {
      instance.close();
    }
  });
</script>
</html>