<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Parking Detection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <header class="container center-align">
    <h1>Parking Detection</h1>
  </header>

  <div class="parallax-container">
    <div class="parallax"><img src="{{url_for('static', filename='utak.jpg')}}"></div>
  </div>
  <div class="section white">

    <section class="container center-align">
      <div class="row">
        <div class="card col s4">
          <h3 class="subheader">Train Images</h3>
          {% for image in train_images %}
            <div class="card col s6 hoverable" style="padding: 5px">
              <div class="card-image">
                <img style="height: 120px" class="materialboxed" width="120px" src="{{url_for('static', filename=image)}}">
              </div>
              <div class="card-action">
                <a href="/run_detection/{{image}}">Detect</a>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col s4">
          <h3 class="subheader">Upload Images</h3>
          <form class="form" action="/" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" name="file" />
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            
            <button class="btn" type="submit">Run Detection</button>
          </form>
        </div>
        <div class="card col s4">
          <h3 class="subheader">Test Images</h3>
          {% for image in test_images %}
            <div class="card col s6 hoverable" style="padding: 5px">
              <div class="card-image">
                <img style="height: 120px" class="materialboxed" width="120px" src="{{url_for('static', filename=image)}}">
              </div>
              <div class="card-action">
                <a href="/run_detection/{{image}}">Detect</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        
      </div>
    </section>
  </div>

  <div class="container center-align">
    <h3>Recent Uploads</h3>
    <div class="carousel">
    {% for image in uploaded_images %}
      <img class="carousel-item" src="{{url_for('static', filename=image)}}">
    {% endfor %}
    </div>
  </div>
  <!-- Modal Structure -->
  <article>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Detection Complete!</h4>
        <div class="row">
          <div class="col s9">
            <img class="materialboxed" width="640px" src="data:image/jpg;base64,{{ detection_img }}">
          </div>
          <div class="col s3">
            <h5>Evaluation</h5>

            {% if accuracy is defined %}
            <div>
              <h6>Accuracy: {{accuracy.accuracy}}%</h6>
              <dl>
                <dt>Empty spaces found: </dt>
                <dd>{{accuracy.count_empty_det}} of {{accuracy.count_empty_ground}}</dd>
                <dt>Occupied spaces found: </dt>
                <dd>{{accuracy.count_occupied_det}} of {{accuracy.count_occupied_ground}}</dd>
              </dl>
            </div>
            {% else %}
            <div>
              <span>
                Not Available for uploaded images!
              </span>
            </div>
            {% endif %}
            
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
  </article>

  <footer style="border-top: 1px solid #a9a9a9">
    <div class="container center-align">
      <div class="row valign-wrapper" style="padding: 20px">
        <div class="col s6">
          <a href="https://github.com/ptkz/parking_detection">
            <img src="{{url_for('static', filename='GitHub.png')}}">
            <h5>Available on GitHub</h5>
          </a>
        </div>
        <div class="col s6 valign-wrapper">
          <a href="https://www.ubbcluj.ro/en/">
            <img src="{{url_for('static', filename='logo_UBB.png')}}">
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var modalElems = document.querySelectorAll('.modal');
    var modalInstances = M.Modal.init(modalElems);

    var imageElems = document.querySelectorAll('.materialboxed');
    var imageInstances = M.Materialbox.init(imageElems);

    var parallax = document.querySelectorAll('.parallax');
    var parallaxInstances = M.Parallax.init(parallax);

    var carouselElems = document.querySelectorAll('.carousel');
    var carouselInstances = M.Carousel.init(carouselElems);
    
    var img = '{{ detection_img }}';
    var instance = M.Modal.getInstance(document.getElementById('modal1'));
    if(img && img.length != 0) {
      instance.open();
    } else {
      instance.close();
    }
  });
</script>
</html>